<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background:pink">
  <img src="images/joni.jpg" width="100px" height="100px" />
  <h2>Joni (Dunlop) Starry</h2>
  <p>I am married to Don Starry. I have 4 children; Justin, Alli, Courtney and Jaedyn.
  Some of my hobbies are: gardening, reading, puzzles and spending time with my family.</p>
</body>
</html>
