<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <title>Joni Starry</title>
</head>

<body style="background:pink">
  <img src="images/joni.jpg" width="100px" height="100px" align="right" />
  <h2>Joni (Dunlop) Starry</h2>
  <p>I am married to Don Starry. I have 4 children; Justin, Alli, Courtney and Jaedyn.
  Some of my hobbies are: gardening, reading, puzzles and spending time with my family.</p>
  <h3> My top 4 Favorite Books</h3>

  <ol type="1">
    <li>Nora Roberts Books - Any</li>
    <li>J.D. Robb Series</li>
    <li>Green Ryder Series</li>
    <li>Throne of Glass Series</li>
  </ol>

</body>
</html>
