<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <title>Joni's Tasks</title>
</head>

<body style="background:blue">

  <h2></h2>

  <h3> Tasks</h3>

  <ol type="1">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ol>

</body>
</html>
